h2,
.h2 {
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
}

h3,
.h3 {
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.5;
}

h4,
.h4 {
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
}

p,
.p {
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.28;
}

button,
.btn {
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.28;
}

li,
.li {
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.28;
}